.reservation-list {
    list-style: none;
}

.reservation-list {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: inline-block;
    padding: 12px 0;
}

.reservation-list li {
    display: inline-block;
    width: 50%;
}

.radio-button {
    display: inline-block;
    margin-right: 12px;
}

.see-vehicles-btn {
    width: 500px;
    height: 30px;
    font-size: 1.25em;
    border-radius: 20px;
    margin-bottom: 30px;
    background-color: green;
    color: white;
    padding-left: 20px;
}

.see-vehicles-btn:disabled {
    background-color: darkgray;
    color: white;
    cursor: not-allowed;
}