/*.users-ul {*/
    /*list-style: none;*/
    /*margin-top: 24px;*/
    /*padding-left: 0;*/
/*}*/

table {
    margin-top: 24px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}