.vehicle-ul {
    list-style: none;
    margin-top: 24px;
    padding-left: 0;
}

.vehicle-heading-admin, .vehicle-vin-admin {
    display: inline-block;
}

.vehicle-item-admin {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.vehicle-image-admin {
    margin-left: 100px;
}